.App{
  display: flex;
  align-items: center;
  justify-content: center;
}

.ProductTable{
  width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;  

}

thead,tr,th,td{
  text-align: center;
  padding: 10px;
  width: 50%;
  border: 1px solid black;
}

thead{
  background-color: gray;
}